.com-items .com-item{
    padding: 40px 20px 40px 20px;
    box-shadow: 2px 2px 4px rgb(197, 195, 195);
}
.com-items .com-item img{
    float: left;
    width: 30%;
    padding: 20px 60px 40px 60px;
    
}
.com-items .com-item p{
    line-height: 28px;
}
.com-items:last-child{
    padding-bottom: 100px;
}
.header {
    background-image: url(./../img/newsHead.jpg);
}